<router-outlet></router-outlet>
<button (click) = "getPosts()"
[@cambiarForma]="estadoFigura ? 'cuadrado':'circulo'">Get Posts</button>

<div *ngFor = "let post of posts | async">

    {{ post | json }}

</div>

<button (click) = "createPost()"
[@cambiarForma]="estadoFigura ? 'cuadrado':'circulo'">Create Post</button>
<hr>

{{ newPost | async | json }}
<hr>

<div [@cambiarForma]="estadoFigura ? 'cuadrado':'circulo'" class="figura"></div>
<button (click)='transicion()'>picale bro</button>

<h1>Bienvenido!</h1>
<div>
    <form class="form-signin animated fadeIn" autocomplete="off" [formGroup]="idForm" (ngSubmit)="delete()">
        <label class="sr-only" for="inputId">Usuario a Eliminar: </label>
        <input type="text" class="form-control mb-2" id="inputId" placeholder="id" formControlName="id" />
        <button type="submit" class="btn btn-lg btn-primary btn-block mb-2">
            Entrar
        </button>
    </form>
</div>